static/dev/pug/products-single.pug
extends layouts/default.pug

block variables
    - var activeMenu = 'Продукция'; 
    - var pageTitle = 'Продукция';
   
block crumbs


block main
    +b('main').main
        +b.SECTION.product-page
            +e.IMG.img(src='http://lorempixel.com/1920/650/')
            +e.wrap
                +e.categories
                    +e.A.category(href='') Категория товара
                +e.row
                    +e.left
                        +e('h1').title  Краска АК-513 «Акцент»
                        +e.desc.text
                            p Холодный спрей-пластик «Акцент» - высоконаполненная масса, не содержащая растворителей и состоящая из акрилового сополимера, минеральных наполнителей и пигментов, отвaерждаемая перекисными соединениями.
                        +e.props
                            +e('h3').props-title Основные характеристики
                            +e.props-items
                                +e.P.prop--1 коэффициент яaркости: 
                                    span 70-79 %
                                +e.P.prop--2 время отверждения: 
                                    span 12 минут
                                +e.P.prop--3 температура размягчения по КиШ: 
                                    span 65°С
                            +e('h3').props-title Указания к применению
                            +e.props-items
                                +e.P.prop--3 Температура воздуха 
                                    span от +5°С до +35°С
                                +e.P.prop--3 Температура дорожного покрытия  
                                    span не ниже +5°С и не выше +45°С
                                +e.P.prop--4 Относительная влажность воздуха 
                                    span не более 85%
                        +e.table-wrap
                            +e.table
                                tr
                                    th Цвет
                                    th Плотность
                                    th КОЭФФИЦИЕНТ ЯРКОСТИ
                                    th ОПИСАНИЕ
                                    th ФОТО
                                tr
                                    td
                                        +e.color.--white
                                            +e.color-label Белый
                                    td
                                    td
                                    td
                                    td
                    +e.right
                        +e.side
                            +e.side-item
                                +e.H3.side-title 
                                    | Ответим на ваши
                                    br
                                    | вопросы
                                +b.ASIDE.contentform
                                    +e.form
                                        form.form
                                            +radio({
                                                name:'type',
                                                id:'adasd',
                                                label:'Частное лицо'
                                            })
                                        
                                            +radio({
                                                name:'type',
                                                id:'eret',
                                                label:'Компания'
                                            }) 

                                            br
                                    
                                            +input({
                                                name:'fio',
                                                label:'Представьтесь пожалуйста:',
                                                labelclass:''
                                            })
                                    
                                            +input({
                                                name:'phone',
                                                label:'Ваша эл. почта или телефон:',
                                                labelclass:'form__error',
                                            }) 
                                            +textarea({
                                                name:'text',
                                                label:'Ваше сообщение',
                                            })        
                                            +e.error
                                                .form__note.h-nomargins#js-form__error_box-callback
                                                    p.js-form__error-text.form__error#js-form__error_msg-callback Все поля формы обязательны для заполнения.
                                                
                                            +e.note 
                                                p Нажимая кнопку «Отправить» Вы соглашаетесь на обработку указанных Вами персональных данных. 
                                                p: a(href='') Подробнее
                                            
                                            +e('button').btn.--margin-top Отправить
                                            span.ajax-loader#js-form__preloader-callback(title='Подождите, пожалуйста') 
                                            
                                                    

                                    +e.success
                                        +e.success-column
                                            +e.success-wrap
                                                +e.IMG.img(src='/static/i/success.png')
                                                +e.P.success-message 
                                                    strong Константин, 
                                                    | Ваше сообщение успешно отправлено!
                                                +e.A.success-more(href='') Написать еще
                            +e.side-item
                                +e.H3.side-title  
                                    | Инструкция по
                                    br
                                    | применению
                                +e.docs
                                    +b('a').file--pdf(href='')
                                        span Техническая 
                                            br 
                                            | спецификация.pdf

                            +e.side-item
                                +e.H3.side-title Сертификаты
                                +b.certificates
                                    +e.items
                                        +e.items.js-pictures
                                            - for (var i = 0; i < 5; i++)
                                                +e.item
                                                    +e('a').item-link.js-picture(title='Описание Описание Описание Описание' data-size='800x600' href='http://dummyimage.com/800x600/ff7939/fff')
                                                        +e('img').item-img(src='http://lorempixel.com/90/130/')

layout/products-single.html
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <!-- На всякий случай говорим IE использовать движок рендера посвежее-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Продукция</title>
    <meta name="author" content="Metadesign, LLC; metadesign.ru; info@metadesign.ru; +7(391)2-420-420">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-status-bar-style" content="black">
    <!-- Отключаем парсинг и подсветку телефонов на странице Skype-аддоном для IE-->
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <!-- Отключаем парсинг и подсветку телефонов во избежание ложно-положительных ситуаций-->
    <meta name="format-detection" content="telephone=no">
    <!-- iOS Safari-->
    <meta http-equiv="x-rim-auto-match" content="none">
    <!-- BlackBerry-->
    <!-- Каконичный адрес текущей страницы для поисковиков-->
    <link rel="canonical" href="">
    <!-- TODO: тут указать каноничный урл без атрибутов и параметров-->
    <!-- DNS-prefetch для ajax.googleapis.com, чтобы побыстрее забрать jQuery из CDN-->
    <link rel="dns-prefetch" href="//ajax.googleapis.com">
    <!-- Фавиконки, иконки и т.п.-->
    <!-- 16х16px + 24х24px + 32х32px ICO-пакет иконок для IE и некоторых других браузеров, если они не поддерживают PNG-иконки. Нужно разместить в корне сайта.-->
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- 16x16px стандартная PNG иконка-->
    <link rel="icon" sizes="16x16" href="/static/i/favicons/favicon-16x16.png">
    <!-- 32x32px стандартная PNG иконка + для Safari's Read Later сайдбара-->
    <link rel="icon" sizes="32x32" href="/static/i/favicons/favicon-32x32.png">
    <!-- FB Open Graph-->
    <meta property="og:url" content="http://yourcompany.ru">
    <!-- TODO: Добавить URL для og:url-->
    <meta property="og:title" content="Описание">
    <!-- TODO: Добавить заголовок для og:title-->
    <meta property="og:description" content="Описание">
    <!-- TODO: Добавить описание для og:description-->
    <meta property="og:image" content="/static/i/favicons/300x200.png">
    <!-- /Фавиконки, иконки и т.п.-->
    <!-- Отключаем всплывающий тулбар для картинок во всяких древних IE6 и иже с ними-->
    <!--if IE-->
    <meta http-equiv="imagetoolbar" content="no">
    <!-- Подключаем стили проекта-->
    <link rel="stylesheet" href="../static/css/styles.css" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i&amp;amp;subset=cyrillic" rel="stylesheet">
    <!--script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')-->
</head>

<body>
    <div class="layout">
        <div class="layout__row">
            <div class="layout__col layout__col--header">
                <header class="header js-header">
                    <div class="header__flow">
                        <div class="header__wrap">
                            <div class="header__row">
                                <div class="header__col header__col--logo"><a class="logo" href="main.html" title="Herbalife"></a>
                                </div>
                                <div class="header__col header__col--phone">
                                    <p class="header__phone js-tel" data-tel="+7 (982) 223-15-78">+7 (982) 223-15-78<span>телефон отдела продаж</span>
                                    </p>
                                </div>
                                <div class="header__col header__col--menu">
                                    <nav class="menu">
                                        <ul class="menu__items">
                                            <li class="menu__item menu__item menu__item--active"><a class="menu__item-link" href="products.html" title="Продукция"><span class="menu__item-title">Продукция</span></a>
                                            </li>
                                            <li class="menu__item"><a class="menu__item-link" href="about.html" title="О компании"><span class="menu__item-title">О компании</span></a>
                                            </li>
                                            <li class="menu__item"><a class="menu__item-link" href="news.html" title="Новости"><span class="menu__item-title">Новости</span></a>
                                            </li>
                                            <li class="menu__item"><a class="menu__item-link" href="contacts.html" title="Контакты"><span class="menu__item-title">Контакты</span></a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
            </div>
        </div>
        <div class="layout__row">
            <div class="layout__col">
                <main class="main" role="main">
                    <section class="product-page"><img class="product-page__img" src="http://lorempixel.com/1920/650/" alt="" role="presentation" />
                        <div class="product-page__wrap">
                            <div class="product-page__categories"><a class="product-page__category" href="">Категория товара</a>
                            </div>
                            <div class="product-page__row">
                                <div class="product-page__left">
                                    <h1 class="product-page__title"> Краска АК-513 «Акцент»
                                    </h1>
                                    <div class="product-page__desc text">
                                        <p>Холодный спрей-пластик «Акцент» - высоконаполненная масса, не содержащая растворителей и состоящая из акрилового сополимера, минеральных наполнителей и пигментов, отвaерждаемая перекисными соединениями.</p>
                                    </div>
                                    <div class="product-page__props">
                                        <h3 class="product-page__props-title">Основные характеристики
                                        </h3>
                                        <div class="product-page__props-items">
                                            <p class="product-page__prop product-page__prop--1">коэффициент яaркости: <span>70-79 %</span>
                                            </p>
                                            <p class="product-page__prop product-page__prop--2">время отверждения: <span>12 минут</span>
                                            </p>
                                            <p class="product-page__prop product-page__prop--3">температура размягчения по КиШ: <span>65°С</span>
                                            </p>
                                        </div>
                                        <h3 class="product-page__props-title">Указания к применению
                                        </h3>
                                        <div class="product-page__props-items">
                                            <p class="product-page__prop product-page__prop--3">Температура воздуха <span>от +5°С до +35°С</span>
                                            </p>
                                            <p class="product-page__prop product-page__prop--3">Температура дорожного покрытия <span>не ниже +5°С и не выше +45°С</span>
                                            </p>
                                            <p class="product-page__prop product-page__prop--4">Относительная влажность воздуха <span>не более 85%</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="product-page__table-wrap">
                                        <div class="product-page__table">
                                            <tr>
                                                <th>Цвет</th>
                                                <th>Плотность</th>
                                                <th>КОЭФФИЦИЕНТ ЯРКОСТИ</th>
                                                <th>ОПИСАНИЕ</th>
                                                <th>ФОТО</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="product-page__color product-page__color--white">
                                                        <div class="product-page__color-label">Белый
                                                        </div>
                                                    </div>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-page__right">
                                    <div class="product-page__side">
                                        <div class="product-page__side-item">
                                            <h3 class="product-page__side-title">
                                                Ответим на ваши<br>вопросы
                                            </h3>
                                            <aside class="contentform">
                                                <div class="contentform__form">
                                                    <form class="form">
                                                        <div class="form__elem-radio">
                                                            <input id="adasd" type="radio" name="type" />
                                                            <label for="adasd"> Частное лицо</label>
                                                        </div>
                                                        <div class="form__elem-radio">
                                                            <input id="eret" type="radio" name="type" />
                                                            <label for="eret"> Компания</label>
                                                        </div><br>
                                                        <div class="form__elem form__elem--input">
                                                            <label for="fio">Представьтесь пожалуйста:</label>
                                                            <div class="form__field">
                                                                <input class="form__input" id="fio" name="fio" type="text" />
                                                            </div>
                                                        </div>
                                                        <div class="form__elem form__elem--input">
                                                            <label class="form__error" for="phone">Ваша эл. почта или телефон:</label>
                                                            <div class="form__field">
                                                                <input class="form__input" id="phone" name="phone" type="text" />
                                                            </div>
                                                        </div>
                                                        <div class="form__elem form__elem--textarea">
                                                            <label for="text">Ваше сообщение</label>
                                                            <div class="form__field">
                                                                <textarea class="form__textarea" id="text" name="text"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="contentform__error">
                                                            <div class="form__note h-nomargins" id="js-form__error_box-callback">
                                                                <p class="js-form__error-text form__error" id="js-form__error_msg-callback">Все поля формы обязательны для заполнения.</p>
                                                            </div>
                                                        </div>
                                                        <div class="contentform__note">
                                                            <p>Нажимая кнопку «Отправить» Вы соглашаетесь на обработку указанных Вами персональных данных. </p>
                                                            <p><a href="">Подробнее</a></p>
                                                        </div>
                                                        <button class="contentform__btn contentform__btn--margin-top">Отправить
                                                            </button><span class="ajax-loader" id="js-form__preloader-callback" title="Подождите, пожалуйста"> </span>
                                                    </form>
                                                </div>
                                                <div class="contentform__success">
                                                    <div class="contentform__success-column">
                                                        <div class="contentform__success-wrap"><img class="contentform__img" src="/static/i/success.png" alt="" role="presentation" />
                                                            <p class="contentform__success-message"> <strong>Константин, </strong>Ваше сообщение успешно отправлено!
                                                            </p><a class="contentform__success-more" href="">Написать еще</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </aside>
                                        </div>
                                        <div class="product-page__side-item">
                                            <h3 class="product-page__side-title">
                                                Инструкция по<br>применению
                                            </h3>
                                            <div class="product-page__docs"><a class="file file--pdf" href=""><span>Техническая <br>спецификация.pdf</span></a>
                                            </div>
                                        </div>
                                        <div class="product-page__side-item">
                                            <h3 class="product-page__side-title">Сертификаты
                                            </h3>
                                            <div class="certificates">
                                                <div class="certificates__items">
                                                    <div class="certificates__items js-pictures">
                                                        <div class="certificates__item"><a class="certificates__item-link js-picture" title="Описание Описание Описание Описание" data-size="800x600" href="http://dummyimage.com/800x600/ff7939/fff"><img class="certificates__item-img" src="http://lorempixel.com/90/130/" alt="" role="presentation"/></a>
                                                        </div>
                                                        <div class="certificates__item"><a class="certificates__item-link js-picture" title="Описание Описание Описание Описание" data-size="800x600" href="http://dummyimage.com/800x600/ff7939/fff"><img class="certificates__item-img" src="http://lorempixel.com/90/130/" alt="" role="presentation"/></a>
                                                        </div>
                                                        <div class="certificates__item"><a class="certificates__item-link js-picture" title="Описание Описание Описание Описание" data-size="800x600" href="http://dummyimage.com/800x600/ff7939/fff"><img class="certificates__item-img" src="http://lorempixel.com/90/130/" alt="" role="presentation"/></a>
                                                        </div>
                                                        <div class="certificates__item"><a class="certificates__item-link js-picture" title="Описание Описание Описание Описание" data-size="800x600" href="http://dummyimage.com/800x600/ff7939/fff"><img class="certificates__item-img" src="http://lorempixel.com/90/130/" alt="" role="presentation"/></a>
                                                        </div>
                                                        <div class="certificates__item"><a class="certificates__item-link js-picture" title="Описание Описание Описание Описание" data-size="800x600" href="http://dummyimage.com/800x600/ff7939/fff"><img class="certificates__item-img" src="http://lorempixel.com/90/130/" alt="" role="presentation"/></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>
        <div class="layout__row">
            <div class="layout__col layout__col--footer">
                <footer class="footer">
                    <div class="footer__wrap">
                        <div class="footer__container">
                            <div class="footer__row">
                                <div class="footer__col footer__col--copyright">
                                    <p class="footer__copyright">«формула-К» 2017 г.
                                    </p>
                                </div>
                                <div class="footer__col footer__col--mail"><a class="footer__mail" href="mailto:simple@mail.ru"> <span>Эл.почта: </span>simple@mail.ru</a>
                                </div>
                                <div class="footer__col footer__col--address">
                                    <p class="footer__address"> <span>Адрес: </span>ул.Дляпримера 145, корп. А
                                    </p>
                                </div>
                                <div class="footer__col footer__col--phone">
                                    <p class="footer__phone js-tel" data-tel="+7 (982) 223-15-78"><span>+7 (982) </span>223-15-78
                                    </p>
                                </div>
                                <div class="footer__col footer__col--meta"><a class="footer__meta" href="http://meta.studio">           </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div><a class="ontop js-ontop" href="#"></a>
    <!--Полифилы для старых браузеров-->
    <script>
        window.Promise || document.write('<script src="https://unpkg.com/es6-promise@3.2.1/dist/es6-promise.min.js"><\/script>');
        window.fetch || document.write('<script src="https://unpkg.com/whatwg-fetch@1.0.0/fetch.js"><\/script>');
    </script>
    <script src="../static/js/bundles/bundle.js"></script>
    <script src="../static/js/common.js"></script>
    <!-- /JS проекта-->
</body>

</html>
